<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Studio AMANgA</title>
    <link href="style/main.css?fow" rel="stylesheet" type="text/css">
    <link href="https://www.studioamanga.com" rel="canonical">
    <meta content="width=device-width" name="viewport">
    <meta content="Studio AMANgA is an independent app developer for the iPhone, iPad, and Apple Watch. Learn more about our apps (Games Keeper, Comic Book Day, 1List, Contact[s], Memorii), and download them on the App Store." name="description">
  </head>
  <body>
    <div class="col" id="title">
      <header>
        <img alt="Studio AMANgA Logo" id="mainlogo" src="img/amg.png?val">
        <h1>
          <span>
            Studio
          </span>
          <span>
            AMANgA
          </span>
        </h1>
      </header>
    </div>
    <div class="col" id="apps">
      [APPS]
    </div>
  </body>
</html>
