#title.col
	%header
		%img#mainlogo{:src => 'img/amg.png?val', :alt => 'Studio AMANgA Logo'}
		%h1 
			%span
				Studio
			%span
				AMANgA

#apps.col
	%h2 Apps
	- @apps.each do |app_key, app|
		%a.app{:href => app["url"]}
			%img.icon{:src => 'img/'+app["icon"], :alt => app["name"]+' Icon'}
			%h3= app["name"]
#news.col
	#twitter
		%h2 @StudioAMANgA
		<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/StudioAMANgA" data-widget-id="384426690429984768">Tweets by @StudioAMANgA</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
