<!DOCTYPE html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Studio AMANgA
    %link{:rel => "stylesheet", :type => "text/css", :href => "style/main.css?fow"}
    -# %link{:rel => "alternate", :type => "application/rss+xml", :title => "RSS", :href => "rss/news.xml"}
    %link{:rel => "canonical", :href => "https://www.studioamanga.com"}
    %meta{:name => "viewport", :content => "width=device-width"}
    %meta{:name => "description", :content => "Studio AMANgA is an independent app developer for the iPhone, iPad, and Apple Watch. Learn more about our apps (Games Keeper, Comic Book Day, 1List, Contact[s], Memorii), and download them on the App Store."}

  %body
    = yield
