<!DOCTYPE html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Studio AMANgA
    %link{:rel => "stylesheet", :type => "text/css", :href => "style/main.css?val"}
    -# %link{:rel => "alternate", :type => "application/rss+xml", :title => "RSS", :href => "rss/news.xml"}
    %meta{:name => "viewport",    :content => "width=device-width"}
    %meta{:name => "description", :content => "Studio AMANgA is an independant website/app producer."}

  %body
    Ah ah ah ah
    = yield
